.header-nav > .nav > .nav-list > .about {
  color: rgb(135, 219, 166)
}

.story {
  height: 500px;
  background-image: url("https://images.pexels.com/photos/247373/pexels-photo-247373.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr 1fr;
  align-content: center;
  margin: 100px;
}

.about-me > div {
  margin: 2px;
  font-family: fantasy;
  border: groove 2px rgb(111, 166, 190);
}

.about-me > div > h2 {
  width: 400px;
  height: 120px;
  text-align: center;
  font-size: 3em;
  padding-left: 70px;
  padding-top: 60px;
}

.about-me > div:first-of-type:hover {
  background-image: url("https://www.theworktop.com/wp-content/uploads/2017/02/Blueberry-Vegan-Pancakes-1.jpg");
  color: transparent;
}

.about-me > div:nth-of-type(2):hover {
  background-image: url("https://thumb9.shutterstock.com/display_pic_with_logo/1355392/577183882/stock-photo-software-developer-programming-code-abstract-computer-script-code-programming-code-screen-of-577183882.jpg");
  color: transparent;
}

.about-me > div:nth-of-type(3):hover {
  background-image: url("https://qph.fs.quoracdn.net/main-qimg-b6a8cff3c44c3bbaa30945361783260f-c");
  color: transparent;
}


.about-me > div:last-of-type:hover {
  background-image: url("https://image.shutterstock.com/z/stock-vector-green-attitude-environmental-icons-set-seamless-pattern-background-87895141.jpg");
  color: transparent;
}
