.header-nav > .nav > .nav-list > .hobby {
  color: rgb(135, 219, 166)
}

.story {
  height: 500px;
  background-image: url("https://wx2.sinaimg.cn/mw690/6db803b0gy1fg1pv8f9ehj20np0hs3zp.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hobby-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 24%;
  padding: 0 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.column > img:hover {
  border-radius: 20%;
}
