/* FOR ALL FOUR PAGES */
.mom-grid {
  height: 100%;
  display: grid;
  min-width: 1000px;
}

.mom-grid ul {
  list-style-type: none;
}

.header-nav {
  display: flex;
  width: 100%;
}
.header-nav > .header {
  flex: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.header-nav > .nav {
  flex: 3;
}

.header > h2 {
  flex: 1;
  text-align: left;
  padding-left: 1%;
}

.logo {
  flex: 1;
  text-align: right;
  transition:
}

.logo > img {
width: 100px;
height: 100px;
}

.nav-list {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: 10% 1%;
  font-family: sans-serif;
  font-size: 1.3em;
}

.nav-list a {
  text-decoration: none;
  color: rgba(168, 179, 172, 1);
  position: relative;
}

.nav-list a:hover{
  color: rgb(135, 219, 166);
}

.nav-list  li {
  font-size: 1em;
  text-align: center;
  flex: 1;
  padding: 2% 0;
}

.home, .portfolio, .hobby {
  border-right: groove 2px rgba(168, 179, 172, 1);
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.story > .message {
  font-size: 3em;
  font-family: 'Abril Fatface', cursive;
  padding-right: 15%;
  text-align: center;;
}

.footer {
  height: 80%;
}

.footer > .bottom-list {
  margin: 5% auto;
  text-align: center;
}

.bottom-list > li {
  display: inline;
  margin-left: 20px;
}
